# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.map
*.lst
*.rlf
*.sdb
*.hxl
*.obj
*.sym
*.cmf

#Microchip files
*.p1
*.d
*.pre
